#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
    background-color: black;
    color: rgb(60, 162, 8);
}

#title{
    color: rgb(40, 47, 243);
}

body{
    background: linear-gradient(rgb(58, 1, 1),rgb(0, 0, 73),rgb(2, 64, 2));
}

#Pressstart,#webcamlabel,#yourselfielabel,#saytakemyselfieh3,#yourvoiceoutputlabel{
    color: rgb(60, 162, 8);
}

#result{
    border: 50px;
}

#webcam{
    border:5px solid teal;
    
}